:root {
  --bg-grad-1: white;
  --bg-grad-2: rgba(0, 4, 255, 0.336);
  --bg-banner: rgb(255, 255, 255);
}

html {
  font-family: verdana;
}


body {
  background-image: linear-gradient(var(--bg-grad-1), var(--bg-grad-2));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-banner {
  background-color: var(--bg-banner);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Antic Slab', serif;
}

#top-banner__image {
  padding: 2px;
}

.top-banner {
  height: 80px;
  margin-bottom: 15px;
}

.top-banner__title {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 30px;
}

#math-app {
  max-width: 700px;
}

.problem-param-input {
  width: 100px;
  margin: 5px;
}

.problem {
  margin-top: 5px;
}

.problem__statement {
  padding: 0;
}

.problem__answer {
  padding-left: 2px;
}

.answer-input {
  width: 75px;
}

.problem__grade {
  padding-left: 2px;
  padding-top: 5px;
}

.correct, .perfect {
  color: green;
}

.good {
  color: yellow;
}

.incorrect, .bad {
  color: red;
}


@media only screen and (max-width: 576px) {
  .problem__grade {
    font-size: 10px;
  }

  .top-banner__title {
    font-size: 20px;
  }
}